@using GameStore.Web.HtmlHelpers
@model GameStore.Web.Models.Comment.CommentViewModel
@{
    ViewBag.Title = "Comments";
}

<div class="paper-block">
    <h2>Comments</h2>
    @Html.CreateTree(Model.Comments)
    @using (Html.BeginForm("NewComment", "Game"))
    {
        @Html.HiddenFor(x => x.CreateModel.ParentCommentId)

        <div class="form-group">
            @Html.LabelFor(x => x.CreateModel.Name)
            @Html.EditorFor(x => x.CreateModel.Name)
            @Html.ValidationMessageFor(x => x.CreateModel.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.CreateModel.Body)
            @Html.EditorFor(x => x.CreateModel.Body)
            @Html.ValidationMessageFor(x => x.CreateModel.Body)
        </div>
        <input type="submit" value="Submit"/>
    }
</div>

@section scripts{
    @Scripts.Render("~/scripts/comments")
}