@using GameStore.Web.App_LocalResources
@model GameStore.Web.Models.Publisher.DisplayPublisherViewModel

@{
    ViewBag.Title = GlobalRes.Details;
}

<div class="paper-block">
    <h2>@GlobalRes.Details</h2>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.HomePage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomePage)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>
