@using GameStore.Web.App_LocalResources
@using GameStore.Web.HtmlHelpers
@model GameStore.Web.Models.Game.PagedDisplayGameModel

@if (Model.PagingInfo.TotalPages > 1)
{
    <div class="pagin">
        @Html.PageLinks(Model.PagingInfo, i =>
            new MvcHtmlString("<a name='page' class='page-link" + (i == Model.PagingInfo.CurrentPage ?
                " active" : "") + "'" + "data-page='" + i + "'>" + i.ToString() + "</a>"))
    </div>
}

<table class="custom-table">
    <thead>
    <tr>
        <td>@GlobalRes.Game</td>
        <td>@GlobalRes.Publisher</td>
        <td>@GlobalRes.Price</td>
    </tr>
    </thead>
    <tbody>
        @foreach (var game in Model.DisplayModel)
        {
            <tr class="clickable-row" data-href="@Url.Action("Details", "Game", new { gamekey = game.Key })">
                <td>
                    @game.Name
                </td>
                <td>
                    @game.Publisher.CompanyName
                </td>
                <td class="one-line">
                    @Math.Round(game.Price, 2) $
                </td>
            </tr>
        }
    </tbody>
</table>

