@using System.Security.Claims
@using GameStore.Web.App_LocalResources
@using GameStore.Web.Utils
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="The description of my page" />
    @Styles.Render("~/Content/css")
</head>
<body>

<header>
    <div class="logo">
        <a href="@Url.RouteUrl("def", new {action = "Index", controller = "Game"})">
            Game<span class="s-letter">S</span>tore
        </a>
    </div>
    <div class="languages">
        <a href="@Url.RouteUrl(UrlRewriter.ReplaceSection("lang", "ru"))">ru</a>
        <a href="@Url.RouteUrl(UrlRewriter.ReplaceSection("lang", "en"))">en</a>
    </div>
    <div class="user">
        @if (User.Identity.IsAuthenticated)
        {
            <span>@User.Identity.Name (@UserUtils.GetRoles())</span>
            <a href="@Url.Action("Logout", "Account")" class="user-control">Log out</a>
        }
        else
        {
            <a href="@Url.Action("Login", "Account")" class="user-control">Log in</a>
            <a href="@Url.Action("Register", "Account")" class="user-control">Register</a>
        }
    </div>
</header>
    <div class="basket-link">
        <a href="@Url.Action("Index", "Basket")"><i class="fa fa-shopping-cart"></i> <span class="basket-text">@GlobalRes.Basket</span></a>
    </div>
    <div id="games-count" data-href="@Url.Action("GetGamesCount", "Game")">
        <div class="loader">
            <div class="loader-dot"></div>
            <div class="loader-dot"></div>
            <div class="loader-dot"></div>
            <div class="loader-dot"></div>
            <div class="loader-dot"></div>
        </div>
    </div>
<div id="body-wrapper">
    @RenderBody()
</div>
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/layout")
    @RenderSection("scripts", false)
</body>
</html>
