@using GameStore.Web.App_LocalResources
@model GameStore.Web.Models.Order.CardPaymentViewModel
@{
}

<div class="paper-block">
    @using (Html.BeginForm("Payment", "Bank"))
    {
        @Html.HiddenFor(x => x.Method)

        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.EditorFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Number)
            @Html.EditorFor(x => x.Number)
            @Html.ValidationMessageFor(x => x.Number)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.ExpirationDate)
            @Html.EditorFor(x => x.ExpirationDate)
            @Html.ValidationMessageFor(x => x.ExpirationDate)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Cvv2)
            @Html.EditorFor(x => x.Cvv2)
            @Html.ValidationMessageFor(x => x.Cvv2)
        </div>
        
        <input type="submit" value="@GlobalRes.Submit"/>
    }
</div>

@section scripts{
    @Scripts.Render("~/Scripts/forms")
}