@model GameStore.Web.Models.Game.DisplayGameModel

<a href="@Url.Action("Details", "Game", new { gamekey = Model.Key })">
    @Model.Name
</a>
<div class="display-group">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>
<div class="display-group">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price) $
    </div>
</div>
<div class="display-group">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.UnitsInStock)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitsInStock)
    </div>
</div>
<div class="display-group">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Discontinued)
    </div>
    <div class="display-field">
        @(Model.Discontinued ? "Yes" : "No")
    </div>
</div>
<div class="display-group">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Publisher)
    </div>
    <div class="display-field">
        <a href="@Url.Action("Details", "Publisher", new {CompanyName = Model.Publisher.CompanyName})">@Model.Publisher.CompanyName</a>
    </div>
</div>
<div class="display-group">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.PublicationDate)
    </div>
    <div class="display-field">
        @Model.IncomeDate.ToShortDateString()
    </div>
</div>
<div class="display-group">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.IncomeDate)
    </div>
    <div class="display-field">
        @Model.IncomeDate.ToShortDateString()
    </div>
</div>
<div class="display-group">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Genres)
    </div>
    <div class="display-field">
        @if (Model.Genres == null || !Model.Genres.Any())
        {
            <span>No Genre</span>
        }
        else
        {
            foreach (var genre in Model.Genres)
            {
                <span>@genre.Name </span>
            }
        }
    </div>
</div>

<div class="display-group">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.PlatformTypes)
    </div>
    <div class="display-field">
        @if (Model.PlatformTypes == null || !Model.PlatformTypes.Any())
        {
            <span>No Supported Platform Types</span>
        }
        else
        {
            foreach (var platformType in Model.PlatformTypes)
            {
                <span>@platformType.Name </span>
            }
        }
    </div>
</div>