@using GameStore.Web.App_LocalResources
@model GameStore.Web.Models.Order.OrderViewModel

@{
    ViewBag.Title = "Index";
}

<div class="paper-block basket">
    <table class="custom-table headed-table order-detail">
        <thead>
            <tr>
                <td>@GlobalRes.Game</td>
                <td>@GlobalRes.Price</td>
                <td>@GlobalRes.Quantity</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderDetail in Model.OrderDetails)
            {
                <tr>
                    <td>
                        @orderDetail.Game.Name
                    </td>
                    <td>
                        @Math.Round(orderDetail.Price, 2) $
                    </td>
                    <td>
                        @orderDetail.Quantity
                        <a href="@Url.Action("DeleteDetails", new { gameId = orderDetail.GameId, orderId = orderDetail.OrderId })" class="button td-button cancel-button">@GlobalRes.Forget</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />

    <div class="total">
        @GlobalRes.Total: @Math.Round(Model.Price, 2) $
    </div>

    <a href="@Url.Action("Order", "Order")" class="make-order-button">@GlobalRes.MakeOrder</a>
</div>
