@using GameStore.Web.App_LocalResources
@model GameStore.Web.Models.ConfirmPaymentViewModel
@{
    ViewBag.Title = "ConfirmPayment";
}

<div class="paper-block">
    @using (Html.BeginForm("ConfirmPayment", "Bank"))
    {
        <h2>@GlobalRes.YouReceivedCode</h2>
        
        <div class="form-group">
            @Html.LabelFor(x => x.Code)
            @Html.EditorFor(x => x.Code)
            @Html.ValidationMessageFor(x => x.Code)
        </div>
        <input type="submit" value="@GlobalRes.Submit"/>
    }
</div>
