@model GameStore.Web.Models.User.BanViewModel

@{
    ViewBag.Title = "Ban user";
}

@using (Html.BeginForm())
{
    <div class="paper-block">
        <div class="form-group">
            @Html.EditorFor(x => x.Permanent)
            @Html.LabelFor(x => x.Permanent)
            @Html.ValidationMessageFor(x => x.Permanent)
        </div>
        <div class="time-form-group">
            <div class="form-group">
                @Html.EditorFor(x => x.Days)
                @Html.LabelFor(x => x.Days)
                @Html.ValidationMessageFor(x => x.Days)
            </div>
            <div class="form-group">
                @Html.EditorFor(x => x.Hours)
                @Html.LabelFor(x => x.Hours)
                @Html.ValidationMessageFor(x => x.Hours)
            </div>
            <div class="form-group">
                @Html.EditorFor(x => x.Months)
                @Html.LabelFor(x => x.Months)
                @Html.ValidationMessageFor(x => x.Months)
            </div>
        </div>
        <input type="submit" value="Ban" class="button lone-submit-button" />
    </div>
    
}

@section scripts{
    @Scripts.Render("~/Scripts/forms")
    @Scripts.Render("~/Scripts/ban")
}