@using GameStore.Web.App_LocalResources
@model GameStore.Web.Models.Order.OrderViewModel

@{
    ViewBag.Title = "Order Details";
}

<div class="paper-block">
    <h2>@GlobalRes.OrderDetails</h2>
    <table class="custom-table">
        <thead>
        <tr>
            <td>@GlobalRes.Product</td>
            <td>@GlobalRes.Price</td>
            <td>@GlobalRes.Quantity</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var detail in Model.OrderDetails)
        {
            <tr class="clickable-row" data-href="@Url.Action("Details", "Game", new {gamekey = detail.Game.Key})">
                <td>@detail.Game.Name</td>
                <td>@detail.Price</td>
                <td>@detail.Quantity</td>
            </tr>
        }
        </tbody>
    </table>
</div>