@using GameStore.Web.App_LocalResources
@model IEnumerable<GameStore.Web.Models.Order.OrderViewModel>
@{
    ViewBag.Title = GlobalRes.History;
}

<div class="paper-block">
    <table class="custom-table headed-table">
        <thead>
        <tr>
            <td>@GlobalRes.Price</td>
            <td>@GlobalRes.Time</td>
            <td>@GlobalRes.Payed</td>
            <td>@GlobalRes.User</td>
            <td>@GlobalRes.Quantity</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model)
        {
            <tr class="clickable-row" data-href="@Url.Action("Details", "Order", new {id = order.Id})">
                <td>@Math.Round(order.Price, 2)$</td>
                <td>@(order.Time.HasValue ? @order.Time.Value.ToShortDateString() : GlobalRes.NotPayed)</td>
                <td>@order.Payed</td>
                <td>@order.UserId</td>
                <td>@order.OrderDetails.Count</td>
            </tr>
        }
        </tbody>
    </table>
</div>