@using System.Security.Claims
@using GameStore.Static
@using GameStore.Web.App_LocalResources
@model GameStore.Web.Models.Order.OrdersViewModel
@{
    ViewBag.Title = GlobalRes.History;
}

<div class="paper-block">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(x => x.MinDate)
            @Html.EditorFor(x => x.MinDate)
            @Html.ValidationMessageFor(x => x.MinDate)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.MaxDate)
            @Html.EditorFor(x => x.MaxDate)
            @Html.ValidationMessageFor(x => x.MaxDate)
        </div>
        <input type="submit" value="@GlobalRes.Filter" />
    }
</div>

<div class="paper-block">
    <table class="custom-table">
        <thead>
            <tr>
                <td>@GlobalRes.Price</td>
                <td>@GlobalRes.User</td>
                <td>@GlobalRes.Quantity</td>
                <td>@GlobalRes.Status</td>
                <td>@GlobalRes.OrderDate</td>
                <td>@GlobalRes.ShippedDate</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr class="clickable-row" data-href="@Url.Action("Details", "Order", new {id = order.Id})">
                    <td>@Math.Round(order.Price, 2)$</td>
                    <td>@order.UserId</td>
                    <td>@order.OrderDetails.Count</td>
                    <td>
                        @order.Status
                        @if (order.ShippedDate == null &&
                        User.Identity.IsAuthenticated &&
                        (User as ClaimsPrincipal).HasClaim(ClaimTypesExtensions.OrderPermission, Permissions.Edit))
                        {
                            <a class="button td-button ship-order-button" href="@Url.Action("Ship", "Order", new { id = order.Id })">@GlobalRes.MarkAsShipped</a>
                        }
                    <td>@(order.OrderDate.HasValue ? order.OrderDate.Value.ToShortDateString() : "")</td>
                    <td class="shipped-date">@(order.ShippedDate.HasValue ? order.ShippedDate.Value.ToShortDateString() : "")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/forms")
    @Scripts.Render("~/Scripts/orders")
}