@using GameStore.Web.App_LocalResources
@model GameStore.Web.Models.Order.DisplayShippersViewModel
@{
    ViewBag.Title = GlobalRes.Shippers;
}

<div class="paper-block">
    <h2>@GlobalRes.Shippers</h2>
    <table class="custom-table headed-table">
        <thead>
        <tr>
            <td>Id</td>
            <td>@GlobalRes.CompanyName</td>
            <td>@GlobalRes.Phone</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var shipper in Model.Shippers)
        {
            <tr>
                <td>@shipper.Id</td>
                <td>@shipper.CompanyName</td>
                <td>@shipper.Phone</td>
            </tr>
        }
        </tbody>
    </table>
</div>